#title{
    text-align: center;
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

.a .b{
    line-height: 3.2;
    font-size: large;
    
}

.piz{
    width: 300px;
    height: auto;
    
}

#rectitle{
    text-align: center;
    background-color: gold;
}

p,
h3{
    text-align: center;
}